/*======== css style base =========*/
main {
   position: relative;
   padding:200px 0 10rem 0;
   background: #fafafa;
  }

h1 {
font-size: 4rem;
line-height: 4rem;
text-transform: uppercase;
}

h2 {
font-size: 2.5rem;
line-height: 2.5rem;
text-transform: uppercase;
margin-bottom: 1rem;
color: #444;
}

h3 {
font-size: 1.8rem;
line-height: 1.8rem;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}

h4 {
font-size: 1.4rem;
line-height: 1.4rem;
margin-bottom: 5px;
}

h5 {
font-size: 1rem;
line-height: 1rem;
margin-bottom: 7px;
}


.main h3 {
  color:#222;
  text-align:center;
}

.result {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 50px;
}

.result .blue {
  color: #2AC1BC;
}

.tab1, .tab2, .tab3, .tab4 {
  padding: 10px 10px;
  text-align: center;
}

.taball {
  display:flex;
  width: 400px;
  text-align: center;
  color: #666;
  font-weight: 500;
  line-height: 1.35rem;
  align-items: center;
  margin :0 auto;
  padding: 2rem 0 0 0;
  justify-content: space-between;
  border-bottom: 2px solid #2AC1BC;
}

.taball img {
  width: 35px;
  filter: grayscale(100);
  opacity: 0.4;
  margin-bottom: 0.5rem;
  z-index: -1;
}

.tab3{
  background: #2AC1BC;
  color: white;
  font-weight: 500;
}

.tab3 img {
  filter: invert(100);
  opacity: 1;
}

.one {
  width: 510px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  align-items: center;
  z-index: -1;
}

/* form tag style */
.info {
  color: #777;
  font-size:0.7rem;
  text-align:left;
  margin: 0 0 30px 10px;
}

#content3 {
  text-align: left;
}

#content3 p{
  font-size:13px;
  margin: 0 0 44px 0;
  padding: 9px;
}

#content3 .emailP{
  font-size:13px;
  margin: 0 0 95px 0;
  padding: 9px;
}

#content3 input {
  width: 77%;
  padding: 10px;
  margin-bottom: 0.5rem;
  font-size:13px;
}

#content3 .eheck_font {
  height: 13px;
  margin: 0 0 0 11px;
}


#content3 .address1{
  width: 39.5%;
  padding: 10px;
  margin-bottom: 12px;
}

#content3 .address2,
#content3 .address3{
  margin-bottom: 12px;
}

#content3 select {
  width: 90px;
  height: 33px;
  font-size:13px;
}

#content3 .email01, 
#content3 .email02 {
  width: 18%;
}

#content3>:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

#content3>:nth-child(2)>:nth-child(1) {
  width: 35%;
}

#content3>.join2>:nth-child(2)>:nth-child(1)>:nth-child(2) {
  margin-top: 6.5rem;
}

#content3 .checkCode{
  width: 170px;
}

#content3 .checkCode:disabled{
	background: #eeeeee;
}

#content3 .checkCode:not(:disabled){
	background: none;
}

#content3 .sendMail{
  width: 75px;
  background: #666;
  border: 1px solid #666;
  color: white;
  padding: 10px;
  margin-left: 0;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
}

#content3 .address-btn{
  width: 30%;
  background: #666;
  border: 1px solid #666;
  color: white;
  padding: 10px;
  margin-left: 0;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
}

#content3 .address-btn:hover{
  cursor: pointer;
  color: #fafafa;
  text-decoration: none;
  background: #444;
}

#content3 .sendMail:hover {
  cursor: pointer;
  color: #fafafa;
  text-decoration: none;
  background: #444;
}

#content3>:nth-child(2)>:nth-child(2)>:nth-child(7),
#content3>:nth-child(2)>:nth-child(2)>:nth-child(9),
#content3>:nth-child(2)>:nth-child(2)>:nth-child(11),
#content3>:nth-child(2)>:nth-child(2)>:nth-child(13) {
  margin-bottom: 1rem;
}


#content3 .modify-btn:not(:disabled) {
  margin: auto;
  font-size: 0.9rem;
  text-decoration: none;
  text-align: center;
  background: #2AC1BC;
  padding: 15px;
  width: 200px;
  color: white;
  transition: 0.6s;
  border-radius: 10px;
}

#content3 .modify-btn:not(:disabled):hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
}

.find1 {
  margin: 0 auto;
  text-align: center;
}

.find1>div {
  margin-top: 1rem;
  padding: 1.5rem 1rem 3.5rem 1rem;
  font-size: 13px;
}

.find1>:nth-child(2) {
  line-height: 1.4rem;
  padding: 1rem 0;
}


.find1 input[type="email"],
.find1 input[type="tel"] {
  width: 105px;
  padding: 10px;
}

select,
option {
  border: 1px solid #999;
  width: 30%;
  height: 48px;
  padding: 3px;
  font-size: 13px;
}

* {
  box-sizing: border-box;
  border: 0px solid rosybrown;
}


input {
  border: 1px solid #999;
  margin-bottom: 0.2rem; 
  font-size: 12px;
}

.doublecheck {
  margin-top: 1rem;
  background: #444;
  padding: 15px;
  color: white;
  transition: 0.6s;
}


input[id="postcode"],
input[id="roadAddress"]:hover{
	cursor:default;
}

input[id="postcode"],
input[id="roadAddress"],
input[class="memberId"],
input[class="memberName"]{
	background: #eeeeee;
}
input[id="postcode"],
input[id="roadAddress"]:focus{
	outline:none;
	cursor:default;
}

:readonly{
	background: #eeeeee;
}