body, main{
	position: relative; 
	z-index: -100;
	background-color: #fff;
	height: 1300px;
}

.review-main{
	width: 1070px;
  margin-top: 100px;
  margin-left: 500px;
  margin-bottom: 100px;
}

.p-img {
	margin-left: 20px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    object-fit: cover;
}
.r-pic {
	margin-left: 20px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    object-fit: cover;
}

.box {
	padding: 20px;
  	width: 1028px;
  	border-bottom: 1px solid #bbb;
}
.pro {
	 display: flex;
	 padding-bottom: 20px;
	 margin-bottom: 30px;	
	 border-bottom: 1px solid #d6d6d6; 
}
.pro-name {
	text-align: center;
}

.pro p {
	padding: 0px 10px;
}

.modify{
	margin-left: 740px;
	border-right: 1px solid #bbb;
	height: 25px;
}