/* ORDERFORM */
body, main {
	position: relative;
	height: 1300px;
	z-index: -100;
}


.orderform {
	width: 1090px;
	margin: 0px auto;
	overflow: hidden;
}

.thanks {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
	text-transform: uppercase;
}

.thanks p {
	font-size: 25px;
	font-weight: bold;
	color: #393939;
	margin-bottom: 4px; letter-spacing : 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.thanks2 p {
	font-size: 25px;
	font-weight: bold;
	color: #393939;
	margin-bottom: 4px;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: left;
	margin-left: 105px;
}

.order {
	color: white;
}

.spacing {
	width: 85%;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 110px;
	display: inline-block;
	border-bottom: 3px solid #393939;
	z-index: -1;
}

.spacing2 hr {
	width: 85%;
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 110px;
	display: inline-block;
	border: 1px dashed #ffffff;
}

html, body {
	margin: 0;
	padding: 0;
}

ol, ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

/* align center css start*/
.wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-left:70px;
	margin-top:-100px;
}

.container {
	margin: 0 auto
}

.sectionInner {
	max-width: 1200px;
	height: 100%;
}
/* align center css end*/

/* layout css start */

/* pagetitle */
.pagetitlewrap {
	height: 105px;
	background-color: #f5f5f5;
	display: block;
}

.pagetitlecontent {
	max-width: 1200px;
	padding: 34px 0 0;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

.pagetitlewrap .pagetitlecontent h2 {
	float: left;
	padding: 0 25px 0 0;
	line-height: 36px;
	font-size: 30px;
	font-weight: normal;
	color: #828287;
}

.pagetitlewrap .pagetitlecontent p {
	float: left;
	margin: 4px 0 0;
	padding: 0 0 0 25px;
	line-height: 30px;
	font-size: 15px;
	color: #464646;
	border-left: 1px solid #bfb6b1;
}

.pagetitlewrap .pagetitlecontent .locatwrap {
	float: right;
	padding: 8px 0 0;
}

.pagetitlewrap .pagetitlecontent .locatwrap>a {
	display: inline-block;
	padding: 0 19px 0 0;
	margin: 0 6px 0 0;
	line-height: 20px;
	font-size: 14px;
	color: #969696;
	background: url('../../lib/img/sub/locate_arrow.gif') no-repeat right
		center;
}

.pagetitlewrap .pagetitlecontent .locatwrap>span {
	display: inline-block;
	padding: 0 19px 0 0;
	margin: 0 6px 0 0;
	line-height: 20px;
	font-size: 14px;
	color: #969696;
	background: url('../../lib/img/sub/locate_arrow.gif') no-repeat right
		center;
}

.pagetitlewrap .pagetitlecontent .locatwrap .active {
	color: #464646;
	background: none;
}

@media screen and (max-width:1200px) {
	.pagetitlewrap {
		height: 105px;
		background-color: #f5f5f5;
		display: block;
	}
	.pagetitlecontent {
		padding: 34px 40px 0;
		margin: 0 auto;
		display: block;
	}
	.pagetitlewrap .pagetitlecontent h2 {
		float: left;
		padding: 0 25px 0 0;
		line-height: 36px;
		font-size: 30px;
		font-weight: normal;
		color: #828287;
	}
	.pagetitlewrap .pagetitlecontent p {
		float: left;
		margin: 4px 0 0;
		padding: 0 0 0 25px;
		line-height: 30px;
		font-size: 15px;
		color: #464646;
		border-left: 1px solid #bfb6b1;
	}
	.pagetitlewrap .pagetitlecontent .locatwrap {
		display: none;
	}
}

@media screen and (max-width:720px) {
	.pagetitlewrap {
		height: 60px;
		display: table;
	}
	.pagetitlecontent {
		width: 1200px;
		padding: 20px 10px 0;
		text-align: center;
		display: table-cell;
	}
	.pagetitlewrap .pagetitlecontent h2 {
		float: none;
		margin: 0;
		padding: 0;
		line-height: 20px;
		font-size: 17px;
		text-align: center;
	}
	.pagetitlewrap .pagetitlecontent p {
		display: none;
	}
}

/* tapwrap */
.tapwrap {
	max-width: 100%;
	margin: 0 30px 70px;
	display: block;
}

.tapwrap ul {
	display: table;
	width: 100%;
}

.tapwrap ul:first-child {
	border-left: 1px solid #aaaaaa;
}

.tapwrap ul li {
	display: table-cell;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	width: 25%;
	padding: 9px 5px;
}

.tapwrap ul li a {
	display: block;
	font-weight: bold;
	text-align: center;
}

/* layout css end */

/* line css start  */
.bg_line_bot {
	background-image: url(../../lib/img/main_page/bh_line_bot.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 224px 1px;
}

.bg_line_bot02 {
	background-image: url(../../lib/img/main_page/bg_line_bot02.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 224px 1px;
}
/* line css end  */

/* about fonts css start*/
.title {
	color: #711b04;
	font-size: 30px;
	font-weight: bold;
	line-height: 40px;
	/* text-transform: capitalize; */
}

.subTitle {
	color: #464646;
	font-size: 17px;
	font-weight: bold;
	line-height: 27px;
}

.text {
	font-size: 14px;
	line-height: 27px;
	color: #464646;
}
/* about fonts css end*/

/* about button css start */
.btn_more {
	width: 44px;
	height: 44px;
	display: block;
	background-image: url(../../lib/img/btn_img/btn_more.png);
	background-size: 100%;
}

.btn_more_opacity {
	width: 44px;
	height: 44px;
	display: block;
	background-size: 100%;
	background-image: url(../../lib/img/btn_img/btn_more_opacity.png);
}

.btn_findStore {
	width: 280px;
	height: 32px;
	display: block;
	background-image: url(../../lib/img/btn_img/btn_findStore.png);
	background-size: 100%;
	background-repeat: no-repeat;
}

/* btn_search css */
.btn_search {
	width: 32px;
	height: 32px;
	background-color: #FFF;
	background-image: url(../../lib/img/btn_img/ico_search.gif);
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 999;
	text-indent: -9999px;
	outline: none;
	border: 0;
	box-sizing: border-box;
	cursor: pointer;
}

/* input css */
.btn_input {
	border: 1px #beb4af solid;
	width: 268px;
	height: 34px;
	padding: 0 5px;
	line-height: 31px;
	font-size: 14px;
	color: #464646;
	vertical-align: middle;
	box-shadow: none;
	outline: none;
	box-sizing: border-box;
}



/* custom_select css start */
.inputBox {
	display: inline-block;
	width: 120px;
	line-height: 34px;
	margin: 0 3px 0 0;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	position: relative;
	box-sizing: border-box;
	padding: 0 0 0 5px;
	outline: none;
	vertical-align: middle;
}

.custom_select {
	display: inline-block;
	width: 120px;
	margin: 0 3px 3px 0;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	background: #FFF url('../../lib/img/btn_img/select.gif') no-repeat right
		center;
	position: relative;
	box-sizing: border-box;
	vertical-align: middle;
	top: -1px;
	overflow: hidden
}

.custom_select span {
	display: block;
	position: absolute;
	top: 50%;
	right: 30px;
	left: 10px;
	margin: -10px 0 0;
	line-height: 20px;
	font-size: 14px;
	color: #464646;
	white-space: nowrap;
	overflow: hidden;
}

select {
	width: 100%;
	height: 36px;
	padding: 0;
	font-size: 14px;
	color: #464646;
	outline: none;
	border: none;
	vertical-align: top;
	opacity: 0;
}
/* custom_select css end */

/* about button css end */

/* common css end */
@media screen and (max-width:1200px) {
	.title {
		text-align: center;
		font-size: 18px;
		line-height: 22px;
		padding: 0 0 6px;
	}
	.bg_line_bot {
		background-image: url(../../lib/img/main_page/bh_line_bot.png);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 160px 1px;
	}
	.bg_line_bot02 {
		background-image: url(../../lib/img/main_page/bg_line_bot02.png);
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 160px 1px;
	}
	.subTitle {
		font-size: 13px;
		margin: 12px 0 0;
		line-height: 18px;
		letter-spacing: -.5px;
	}
	.text {
		font-size: 12px;
		line-height: 18px;
		margin: 15px 0 0;
		text-align: center;
	}
	.btn_more {
		width: 34px;
		height: 34px;
	}
	.btn_more_opacity {
		width: 34px;
		height: 34px;
	}
	.btn01:hover {
		background-size: 12px 6px;
	}
	.btn2:hover {
		background-size: 12px 6px;
	}
	.custom_select {
		height: 27px;
		font-size: 12px;
		background-size: 12px 6px;
		white-space: nowrap;
		overflow: hidden;
		top: -1px;
	}
	.custom_select span.text {
		margin: 0;
		font-size: 12px;
		right: 17px;
		margin: -10px 0 0 -7px;
		overflow: hidden;
	}
	select {
		font-size: 12px;
		height: 28px;
	}
}

.content {
	padding: 150px 0 150px 0;
}

.joinStepWrap .joinStep_Img {
	display: block;
	margin: 0 auto 50px
}

/* table css start  */
.tableWrap {
	border-top: 2px solid #464646;
	border-bottom: 1px solid #464646;
	border-spacing: 0;
	width: 85%;
	height: 100%;
	font-size: 14px;
	font-weight: bold;
	color: #464646;
}

.tableWrap tr:first-child th, .tableWrap tr:first-child td {
	border-top: none;
	height: 100%
}

.tableNumber {
	width: 15%;
	border-top: 1px solid #b6ada8;
	text-align: left;
	vertical-align: middle;
	padding: 0 10px;
	font-size: 15px;
	line-height: 34px;
}

.tableTitle {
	width: 100%;
	border-top: 1px solid #b6ada8;
	vertical-align: middle;
	padding: 15px 0;
	line-height: 21px;
	font-size: 16px;
	font-weight: normal;
	border-spacing: 10px;
	display: block;
	font-size: 14px;
	line-height: 34px;
	margin-left: 1%;
	box-sizing: border-box;
}

.tableDate {
	width: 130px;
	border-top: 1px solid #b6ada8;
	vertical-align: middle;
	padding: 0;
}

.tableHit {
	width: 90px;
	border-top: 1px solid #b6ada8;
	vertical-align: middle;
	padding: 0;
}

.tableTitle, .tableDate, .tableHit:hover {
	cursor: default;
}
/* table css end  */
.custom_select {
	height: 34px;
}

.custom_select span.text {
	color: #464646
}

input.inputBox {
	width: 695px;
	margin-bottom: 3px;
}

input.inputBox2 {
	width: 200px;
	margin-bottom: 3px;
	border: 1px solid #dfdfdf;
}

span.text {
	display: block;
	color: #aaa;
	line-height: 20px
}

span.txtInput {
	color: #464646;
	font-size: 14px;
	line-height: 34px;
}

span.emailAt {
	width: 4%;
	display: inline-block;
	text-align: center;
	color: #464646;
}

.address .tableTitle input+input {
	margin-top: 3px;
}

.eMail .tableTitle .inputBox {
	width: 25% !important;
}

.eMail .tableTitle .custom_select {
	margin: 0 0 0 5px;
}

#emailWrite {
	font-size: 14px;
	color: #464646;
	line-height: 34px;
}

.content .btnwrap {
	margin: 30px 0 0 0;
	text-align: right;
}

.tableTitle .btn01 {
	line-height: 32px;
	box-sizing: border-box;
}

.content .btn01 {
	line-height: 32px;
}

.content .btn2 {
	line-height: 32px
}


	.content {
		padding: 50px 30px 0px 0px;
		margin-left:30px;
	}
	.joinStep_Img {
		width: 90%;
	}
	.content .btn01 {
		font-size: 14px;
	}
	.content .btn2 {
		font-size: 14px;
	}
	.tableNumber {
		width: 200px;
	}


@media screen and (max-width:720px) {
	.content {
		padding: 30px 15px 100px;
	}
	.joinStepWrap .joinStep_Img {
		width: 100%;
		margin-bottom: 20px;
	}
	.personalInfo .tableNumber {
		display: block;
		width: auto;
		text-align: left;
		font-size: 13px;
		line-height: 18px;
		padding: 8px 5px 4px;
	}
	.personalInfo .tableTitle {
		border-top: none;
		padding: 4px 5px 8px;
		line-height: 18px;
		font-size: 12px;
		margin: 0;
		text-align: left;
	}
	.personalInfo .tableTitle span.txtInput {
		font-size: 13px;
		line-height: 18px;
	}
	span.text {
		text-align: left;
		margin: 5px 0 0;
	}
	input.inputBox {
		line-height: 27px;
		font-size: 12px;
		line-height: 24px;
		margin: 0;
	}
	.personalInfo .btn01 {
		height: 27px;
		font-size: 12px;
		line-height: 25px;
		background-size: 12px 6px;
	}
	.personalInfo .btn2 {
		height: 27px;
		font-size: 12px;
		line-height: 25px;
		background-size: 12px 6px;
	}
	.eMail .tableTitle .custom_select {
		height: 27px;
		font-size: 12px;
		background-size: 12px 6px;
		white-space: nowrap;
		overflow: hidden;
		top: 0
	}
	.custom_select span.text {
		margin: 0;
		font-size: 12px;
		right: 17px;
		margin: -10px 0 0 -7px;
		overflow: hidden;
	}
	select {
		font-size: 12px;
		height: 28px;
	}
	span.emailAt {
		text-align: center;
	}
	#emailWrite {
		font-size: 12px;
		line-height: 27px;
	}
	.btnwrap .btn01 {
		background-size: 12px 6px;
		width: 50%;
		box-sizing: border-box;
	}
	.btnwrap .btn2 {
		background-size: 12px 6px;
		width: 49%;
		margin-left: 1%;
		box-sizing: border-box;
	}
	.content .btnwrap {
		margin: 15px 0 0 0;
		font-size: 0;
	}
}


<!--주문 내역 표 시작 -->

.order2{
	width: 100%;
	height: 100px;
}

.orderProduct{
	text-align: center;
	width: 100%;
	border : 1px solid black;
	top: 50%;
	left: 50%;
	
}

.orderProduct th{
	width: 150px;
	padding:10px 0 0 0;
	text-align: center;
	margin-left:50px;
}


.orderProduct tr{
	width: 200px;
}

.orderProduct td{
	padding:10px;
	text-align: center;
}

.homeBtn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  	float: right;
  	position : absolute;
  	top : 90%;
  	left: 47.5%;
}

.homeBtn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.homeBtn:active {
	position:relative;
	top:1px;
}

.table-responsive{
	height : 200px;
}

.payment {
    float: right;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
    width: 230px;
    line-height: 140%;
    font-size: 17px;
    height: 50px;
    color: #393939;
    }
  
  .payment strong {
    color: #393939;
  }
  
 
 .orderProduct{
 	width : 900px;
 	margin-left : 125px;
 	border: 1px solid #b6ada8;
 }


/* font nexon lv1 gothic */
@font-face {
	font-family: 'NEXON Lv1 Gothic OTF';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'NEXON Lv1 Gothic OTF';
}

/* left toggle */
.leftmenuToggle {
	display: block;
	position: relative;
	margin: 20px 30px 0 0;
	z-index: 1;
	-webkit-user-select: none;
	user-select: none;
}

.leftmenuToggle input {
	display: block;
	width: 30px;
	height: 20px;
	position: absolute;
	cursor: pointer;
	opacity: 0;
	z-index: 2;
	-webkit-touch-callout: none;
}

.leftmenuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 7px;
	position: relative;
	background: #2AC1BC;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.leftmenuToggle span:first-child {
	transform-origin: 0% 0%;
}

.leftmenuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

.leftmenuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #385663;
	margin-bottom: 5px;
}

.leftmenuToggle input:checked ~ span:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

.leftmenuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
	margin-bottom: 5px;
}

/* toggle menu */
.hoverEvent {
	display: inline-block;
	margin-top: 0;
	position: fixed;
	left: 0;
	top: 110px;
	width: 360px;
	height: 100%;
	z-index: 1;
	padding-top: 150px;
	border-radius: 0 20px;
	text-align: center;
	background: #385663;
	-webkit-font-smoothing: antialiased;
	transform-origin: 0% 0%;
	transform: translate(-300%, 0);
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
	text-decoration: none;
}

.hoverEvent li {
	padding: 20px 20px;
	font-size: 20px;
}

.hoverEvent ul {
	padding: 20px 20px;
	font-size: 20px;
}

.hoverEvent a {
	text-decoration: none;
	color: #fff;
}

.hoverEvent a:hover {
	color: #2AC1BC;
	font-weight: bold;
}

.leftmenuToggle input:checked ~ ul {
	transform: none;
}

.header-nav {
	display: flex;
	align-items: center;
}

/* ul sort */
ul {
	list-style: none;
	margin: 0;
	padding: 0
}

/* header */
.header-area .main-header {
	padding: 0px 120px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.header-area .main-header {
		padding: 0px 10px
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-area .main-header {
		padding: 0px 10px
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-area .main-header {
		padding: 22px 0px
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	.header-area .main-header {
		padding: 22px 0px
	}
}

@media ( max-width : 575px) {
	.header-area .main-header {
		padding: 22px 0px
	}
}

.header-area .main-header .menu-wrapper {
	display: flex;
	align-content: center;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	height: 110px;
}

.header-area .main-header .menu-wrapper .main-menu ul li {
	display: inline-block;
	position: relative;
	z-index: 1
}

.header-area .main-header .menu-wrapper .main-menu ul li a {
	font-size: 18px;
	font-family: 'NEXON Lv1 Gothic OTF';
	color: #141517;
	font-weight: 600;
	padding: 41px 21px;
	display: inline-block;
	text-transform: capitalize;
	display: block;
	-webkit-transition: all .3s ease-out 0s;
	-moz-transition: all .3s ease-out 0s;
	-ms-transition: all .3s ease-out 0s;
	-o-transition: all .3s ease-out 0s;
	transition: all .3s ease-out 0s;
	text-decoration: none;
	padding-bottom: 20px;
}

.header-area {
	display: block;
	position: fixed;
	background: #fff;
	top: 0;
	left: 0;
	right: 0;
	border-bottom: #ecedef solid 1px;
}

/* menu hover color */
.header-area .main-header .menu-wrapper .main-menu ul li:hover>a {
	color: #2AC1BC;
	text-decoration: none;
}

/* 좌측최상단 회원가입/로그인/고객센터 */
.links {
	position: absolute;
	top: 3px;
	right: 30px;
}

.link_text {
	font-size: 11px;
	margin-left: 5px;
	text-decoration: none;
	color: #888;
}

.navigation {
	display: flex;
}

/* nav search */
.searchBtn {
	display: inline-block;
	font-family: 'NEXON Lv1 Gothic OTF';
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
}

.searchBtn:hover {
	color: #2AC1BC;
}

.wishBtn {
	display: inline-block;
	font-family: 'NEXON Lv1 Gothic OTF';
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
	margin-left: 30px;
}

.wishBtn:hover {
	color: #2AC1BC;
}

.cartBtn {
	display: inline-block;
	font-family: 'NEXON Lv1 Gothic OTF';
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
	margin-left: 20px;
}

.cartBtn:hover {
	color: #2AC1BC;
}

.searchForm {
	border: 1px solid #999999;
	border-radius: 10px;
	font-size: 7px;
	width: 180px;
	height: 30px;
	padding-left: 10px;
}

.search {
	margin-top: 15px;
}

/* footer */
footer {
	bottom: 0;
	background-color: #385663;
	color: #fff;
	padding: 30px 0;
}

footer .container-fluid {
	position: relative;
	display: block;
	text-align: center;
}

footer .container-fluid img {
	display: block;
	margin: 0px auto;
	align-items: center;
}

footer .container-fluid p {
	margin: 0;
	font-size: 11px;
}