h2 {
  margin: 0;
  color: black;
  font-size: 2.5em;
  font-weight: 300;
}
#contact-form {
  max-width: 1208px;
  max-width: 75.5rem;
  margin: 0 auto;
padding-bottom: 50px ;
}
#contact, .label, .input[name="submit"] {
/*   position: relative; */
}
label > span, input, textarea, button {
  box-sizing: border-box;
}
footer .container-fluid{
padding-right: 120px;
}
label {
  display: block;
}
label > span {
  padding-top: 8px !important;
  color: #385663;
  display: none;
}
.searchBtn{
margin-left: 0;
}
.input, .textarea, .button {
  width: 100%;
  padding: 0.5em;
  border: none;
  
}
input[type="text"], input[type="email"], textarea {
  margin: 0 0 1em;
  border: 1px solid #ccc !important;
  outline: none;
}
input.invalid, textarea.invalid {
  border-color: #d5144d;
}
textarea {
  height: 6em;
  position: relative;
}
input[type="submit"], button {
  background: #2AC1BC ;
  color: white;
}w
input[type="submit"]:hover, button:hover {
  background: #385663;
}
@media screen and (min-width: 30em) {
  #contact-form h2 {
    margin-left: 26.3736%;
    font-size: 2em;
    line-height: 1.5;
  }
  label > span {
    vertical-align: top;
    display: inline-block;
    width: 26.3736%;
    padding: 0.5em;
    border: 1px solid transparent;
    text-align: right;
  }
  .input, .textarea, .button {
    width: 73.6263%;
    line-height: 1.5;
  }
  textarea {
    height: 10em;
  }
  input[type="submit"], button {
    margin-left: 26.3736%;
  }
}
@media screen and (min-width: 48em) {
  #contact-form {
  	padding-top: 0.3em;
    text-align: justify;
    line-height: 0;
  }
  #contact-form:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  #contact-form h2 {
    margin-left: 17.2661%;
    margin-bottom: 50px;
  }
  #contact-form form, #contact-form aside {
    vertical-align: top;
    display: inline-block;
    width: 65.4676%;
    text-align: left;
    line-height: 1.5;
  }
  #contact-form aside {
    width: 30.9353%;
  }
}


<!-- -->
.container-side {
	padding-top: 10px;
}

.paginationRow {
	justify-content: center;
}

footer {
	padding : 0;
	padding-right : 30px;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
}

.board {
	margin-left: 230px;
	padding-right: 10px;
	padding-top: 0px;
}

.boardbody {
	padding-top: 3px;
	margin-left: 10px;
	padding-right: 20px;
}

.card-title {
	font-weight: bold;
	margin-bottom: 24px;
}

.warningText{
font-weight: bold;
color: red;

}