<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.petopia.mapper.BoardMapper">

	<!-- 해당 게시판에 게시글 불러오는 쿼리문 / idx 내림차순 (최신게 위로) -->
	<select id="getContentList" resultType="co.kr.petopia.vo.BoardVO">
		SELECT content_idx, content_title, content_text,
				TO_CHAR(content_date , 'yyyy-mm-dd') as content_date, content_hit, content_update, member_id, board_id 
		FROM content where
		board_id = #{board_id} order by content_idx DESC;
	</select>
	
	<!-- 해당 게시판에 게시글 불러오는 쿼리문 + 페이징 -->
	<select id="getContentListPaging"  resultType="co.kr.petopia.vo.BoardVO">
		<![CDATA[
		SELECT * FROM
		(
		select /*+ INDEX_DESC(content pk_content) */ rownum rn, content_idx, content_title, content_text,
		content_date, content_hit, content_update, member_id, board_id from content 
		where content_idx > 0 and rownum <= (#{pageNum} * #{amount})
		)
		where rn > (#{pageNum}-1) * 10 and board_id = #{board_id}
		]]>
	</select>
	
	<select id="getContentListPaging1"  parameterType="java.util.HashMap" resultType="co.kr.petopia.vo.BoardVO">
		
  		 <![CDATA[
  		SELECT * FROM (
              SELECT ROWNUM AS RNUM, A.* FROM (
                       SELECT
                           content_idx, content_title, content_text,
		TO_CHAR(content_date , 'yyyy-mm-dd') as content_date, content_hit, content_update, member_id, board_id
                         FROM
                             content
                         where board_id = #{board_id}
                         order by board_id
             ) A WHERE ROWNUM <= #{cri.pageNum , jdbcType=VARCHAR} * #{cri.amount, jdbcType=VARCHAR}
         ) WHERE RNUM > (#{cri.pageNum , jdbcType=VARCHAR}-1) * #{cri.amount, jdbcType=VARCHAR} 
  		 ]]>
	</select>
	
	
	
	<!-- count -->
	<select id="getTotalCount" resultType="int">
		select count(*) from content where board_id = #{board_id}
	</select>
	
	<!-- count -->
	<select id="getTotalCount2" resultType="int" >
		select count(*) from content where board_id = #{cri.board_id , jdbcType=VARCHAR}
	</select>

	<insert id="contentInsert">
	<selectKey keyProperty="content_idx" order="BEFORE" resultType="int">
 			select content_seq.nextval from dual
 	</selectKey>
	
		insert into content(content_idx, board_id, member_id,
		CONTENT_DATE,CONTENT_TITLE,CONTENT_TEXT,CONTENT_HIT)
		values
		(CONTENT_SEQ.nextval, #{board_id}, #{member_id}, SYSDATE,
		#{content_title}, #{content_text}, 0)
	</insert>

	<select id="contentRead" resultType="co.kr.petopia.vo.BoardVO">
		select * from content where content_idx = #{content_idx}
	</select>

	<delete id="contentDelete">
		delete from content where content_idx = #{content_idx}
	</delete>

	<update id="contentUpdate">
		update content
		set content_title = #{content_title},
		content_text = #{content_text},
		content_update = sysdate
		where content_idx = #{content_idx}
	</update>
	
	<update id="modifyContentInfo">
		UPDATE content
		SET content_title = #{content_title},
			content_text = #{content_text},
			content_date = sysdate
		WHERE board_id=#{board_id} and content_idx = #{content_idx}
	</update>
	
	
	<select id="getBoardInfo" resultType="String" >
	<![CDATA[
		select board_name, board_id 
		from board
		where board_id =${board_id}
	]]>
	</select>
	
	<select id="getAllBoardInfo" resultType="co.kr.petopia.vo.BoardVO">
	select *
	from board
	</select>
	
	<delete id="deleteContentInfo">
	delete from content where content_idx = #{content_idx}
	</delete>
	

</mapper>