<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.petopia.mapper.MemberMapper">

	<!-- 맴버정보(권한, enalbed포함) 가져오기  -->
	<select id="getSelectMemberInfo" parameterType="String" resultType="co.kr.petopia.vo.MemberVO">
	select m.member_id as member_id, m.member_password as member_password, m.member_name as member_name,
       a.authority, a.enabled
    FROM member m , authorities a
    WHERE #{member_id} = a.member_id and m.member_id = #{member_id}
	</select>
	
</mapper>