<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.petopia.mapper.MemberMapper">

	<!-- 마이펫 리스트 -->
	<select id="getMypetList" resultType="co.kr.petopia.vo.MypetVO">
		select * from mypet
	</select>

	<!-- 마이펫 상세 정보 -->
	<select id="getMypetOne" resultType="co.kr.petopia.vo.MypetVO">
		select mypet_idx, mypet_name, mypet_imagefile, mypet_category,
		mypet_gender, mypet_allergy, mypet_age, mypet_weight, mypet_neutering,
		mypet_diseasename
		where mypet_idx = #{mypet_idx}
	</select>

	<!-- 마이펫 등록 -->
	<insert id="mypetInsert">
		insert into 
			mypet (mypet_idx, mypet_imagefile, mypet_name, mypet_category, mypet_gender,
				   mypet_allergy, mypet_age, mypet_weight, mypet_neutering, mypet_diseasename)
			values(#{mypet_idx}, #{mypet_imagefile}, #{mypet_name}, #{mypet_category},
				   #{mypet_gender}, #{mypet_allergy}, #{mypet_age}, #{mypet_weight}, #{mypet_neutering},
				   #{mypet_diseasename} )
	</insert>

	<!-- 마이펫 삭제 -->
	<delete id="mypetDelete"
		parameterType="co.kr.petopia.vo.MypetVO">
		delete from mypet where mypet_idx = #{mypet_idx}
	</delete>

	<!-- 마이펫 정보 수정 -->
	<update id="mypetUpdate">
		update mypet
			set
				mypet_imagefile = #{mypet_imagefile},
				mypet_name = #{mypet_name},
				mypet_category = #{mypet_category},
				mypet_gender = #{mypet_gender},
				mypet_allergy = #{mypet_allegry},
				mypet_age = #{mypet_age},
				mypet_weight = #{mypet_weight},
				mypet_neutering = #{mypet_neutering},
				mypet_deseasename = #{mypet_deseasename}
			where mypet_idx = ${mypet_idx}
	</update>

</mapper>