<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.petopia.mapper.OrderMapper">

	<!-- 결제 시 회원 별 장바구니(구매) 리스트 -->
	<select id="getCartList" resultType="co.kr.petopia.vo.OrderVO">
		select product_detail_info, product.product_idx, product.product_name, product.product_coloroption, product_price
		from cart, product where cart.product_idx = product.product_idx and member_id = 'dummy20'
		<!-- where member_id = #{member.id} -->
	</select> 

	<!-- 주문자 정보 입력 후 DB로 정보 넘기기 -->
	<insert id="orderFormInsert">
  		 insert into order_form (order_idx, product_idx, member_id, order_date) 
		 values (order_seq.nextval, #{product_idx}, #{member_id}, sysdate)
	</insert>

	<insert id="orderDetailInsert">
	     insert into order_detail (order_idx, product_idx, order_name, order_receiver_name, order_receiver_phonenumber, order_receiver_address, order_quantity, payment_method, order_date)
		 values (#{order_idx}, #{product_idx}, #{order_name}, #{order_receiver_name}, #{order_receiver_phonenumber}, #{order_receiver_address}, #{order_quantity}, #{payment_method}, to_date(sysdate, 'yyyy/mm/dd hh24:mi:ss')) 
	</insert>
	
	<delete id = "deleteOrderIdx">
		delete from order_form where order_idx = #{order_idx}
	</delete>
	
	<select id = "readOrderInfo" resultType="co.kr.petopia.vo.OrderVO">
		select * from ORDER_DETAIL where order_idx = (select max(order_idx) from order_form)
	</select>
	
</mapper>