<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.petopia.mapper.ProductMapper">

	<!-- 카테고리에 해당하는 상품 목록 가져오기 -->
	<select id="getCategoryProductList" resultType="co.kr.petopia.vo.ProductVO">
		SELECT * FROM product WHERE product_category_id = #{product_category_id}
	</select>

	<!-- 상품 상세정보 가져오기 -->
	<select id="getProductDetail" resultType="co.kr.petopia.vo.ProductVO">
		SELECT * FROM product p, product_category c 
		WHERE c.product_category_id = p.product_category_id 
		AND p.product_category_id = #{product_idx}
	</select>

	<!-- 상품 이미지 가져오기 -->
	<select id="getProductImgList" resultType="co.kr.petopia.vo.FileUploadVO">
		SELECT * FROM tbl_attach WHERE product_idx = #{product_idx}
	</select>
	
	<select id="getSerachProductList" resultType="co.kr.petopia.vo.ProductVO">
	SELECT 	product_idx, product_name, product_price,
			product_detail_info, product_review, product_coloroption,
			product_stock
	FROM product 
	WHERE product_name like '%'||#{keyword}||'%'
	</select>
	
<select id="getCateGoryProductList" resultType="co.kr.petopia.vo.ProductVO" parameterType="String">

	<choose>
	<when test='category != null and category.equals("a")'>
	select *
	from product
	where product_category_id = 1
	</when>
	<when test='category != null and category.equals("b")'>
	select *
	from product
	where product_category_id = 2
	</when>
	<when test='category != null and category.equals("c")'>
	select *
	from product
	where product_category_id = 3
	</when>
	<when test='category != null and category.equals("d")'>
	select *
	from product
	where product_category_id = 4
	</when>
	<when test='category != null and category.equals("e")'>
	select *
	from product
	where product_category_id = 5
	</when>
	<when test='category != null and category.equals("f")'>
	select *
	from product
	where product_category_id = 6
	</when>
	<when test='category != null and category.equals("g")'>
	select *
	from product
	where product_category_id = 7
	</when>
	<when test='category != null and category.equals("h")'>
	select *
	from product
	where product_category_id = 8
	</when>
	<when test='category != null and category.equals("i")'>
	select *
	from product
	where product_category_id = 9
	</when>
	
	</choose>
	
	
	</select>
	
</mapper>