<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.kr.petopia.mapper.ReplyMapper">

	<!-- 해당 게시물의 댓글 불러오는 쿼리문 -->
	<select id="getReplyList" resultType="co.kr.petopia.vo.ReplyVO">
		select * from reply where
		content_idx = #{content_idx} order by reply_idx
	</select>
	
	<!-- 해당 게시물의 댓글 불러오는 쿼리문 + 페이징 -->
	<select id="getReplyListPaging" resultType="co.kr.petopia.vo.ReplyVO">
		select * from reply where
		content_idx = #{content_idx} order by reply_idx
	</select>
	
	<select id="getReplyRead" resultType="co.kr.petopia.vo.ReplyVO">
		select * from reply where reply_idx = #{reply_idx}
	</select>
	
	<insert id="replyInsert">
		insert into reply(reply_idx, content_idx, member_id, reply_text, reply_date)
		values (reply_seq.nextval, #{content_idx}, #{member_id}, #{reply_text}, SYSDATE)
	</insert>
	
	<delete id="replyDelete">
		delete from reply where reply_idx = #{reply_idx}
	</delete>

	<update id="replyUpdate">
		update reply set
		reply_text = #{reply_text}
		where reply_idx = #{reply_idx}
	</update>
	
	<!-- ADMIN답변 VO로 반환-->
	<select id="getMyAnswerList" resultType="co.kr.petopia.vo.ReplyVO">
	select * from reply where
	content_idx = #{content_idx} order by reply_idx
	</select>
	
	<update id="updateQnaState">
	UPDATE qna_state
	SET state = '처리완료'
	WHERE board_id = 2 and
	content_idx =#{content_idx} AND
	reply_idx = #{reply_idx}
	</update>
	
	<select id="getQnaState" resultType="String" parameterType="co.kr.petopia.vo.ReplyVO">
	select state
	from qna_state
	WHERE board_id = 2 and
	content_idx =#{content_idx} AND
	reply_idx = #{reply_idx}
	</select>

</mapper>