
.container{
  height: 950px;
}
.withdrawal-form h3 {
  font-size: 36px;
  text-align: center;
  color: #2AC1BC;
  margin-bottom: 10px;
  font-weight: normal;
}
.withdrawal-form p {
	font-size: 15px;
	margin-bottom: 30px;
}
.withdrawal-form {
    background: #fff;
    width: 450px;
    border-radius: 6px;
    margin: 0 auto;
    display: table;
    padding: 35px;
    box-sizing: border-box;
    position: relative;
    top: 200px;
    border: 1px solid #bbb;
}
.form-group {
  float: left;
  width: 100%;
  margin: 0 0 15px;
  position: relative;
}
.withdrawal-form input {
    width: 80%;
    padding: 5px;
    height: 56px;
    border: 1px solid white;
    border-bottom: 1px solid #bbb;
    box-sizing: border-box;
    font-size: 15px;
    padding-left: 75px;
}

.withdrawal-form .withdrawal-btn {
  background: #2AC1BC;
  padding: 8px 20px;
  border-color: #2AC1BC;
  color: #fff;
  text-align: center;
  font-size: 20px;
  border: 1px solid #2AC1BC;
  border-radius: 44px;
  height: 56px;
  cursor: pointer;
  width: 50%;
  margin-left:30px;
}
input:focus {
  outline:none;
}
.withdrawal-form button:hover{
  opacity: 0.9;
}

.tbl_edit01    { width:100%; border-top:1px solid #BBB; box-sizing:border-box; }
.tbl_edit01 tr { height:46px;  box-sizing:border-box; }
.tbl_edit01 td { height:46px; font-size:14px; box-sizing:border-box; padding:5px; }