.orderList-main {
	width: 1070px;
	margin-top: 100px;
	margin-left: 350px;
	margin-bottom: 100px;
}

.box {
	padding: 20px;
	margin-bottom: 30px;
	width: 1028px;
	border: 1px solid #bbb;
	border-radius: 5px;
}

.orderList {
	border: 1px solid #bbb;
	padding: 20px;
	width: 750px;
}

.orderList-info {
	display: flex;
	align-items: center;
}

.orderList-info img {
	margin-left: 10px;
	margin-right: 20px;
	width: 100px;
	height: 100px;
	overflow: hidden;
	object-fit: cover;
}

.BtnList {
	padding: 40px;
	border-top: 1px solid #bbb;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	width: 200px;
	align-items: center;
	text-align: center;
}

.box2 {
	display: flex;
	margin-top: 15px;
}

.Btn1 {
	height: 25px;
	width: 140px;
	border-radius: 4px;
	border: 1px solid #2AC1BC;
	cursor: pointer;
	color: #2AC1BC;
	font-size: 16px;
	padding: 6px 15px;
	margin: 25px 10px;
	background-color: white;
}

.Btn1:hover {
	background-color: #e3f9f9;
	color: #2AC1BC;
}

.date {
	display: flex;
}

.date a {
	margin-left: 750px;
}

.date a:hover {
	color: #2AC1BC;
}



.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;
	/* 숨기기 */
	z-index: -1;
	opacity: 0;
}

.show {
	opacity: 1;
	z-index: 1000;
	transition: all .5s;
}

.window {
	position: relative;
	width: 100%;
	height: 100%;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #ffffff;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
	/* 임시 지정 */
	width: 600px;
	height: 400px;
	/* 초기에 약간 아래에 배치 */
	transform: translate(-50%, -40%);
}

.show .popup {
	transform: translate(-50%, -50%);
	transition: all .5s;
}
.modal-title {
	padding: 10px 10px 10px 20px;
	width: 985px;
	border-bottom: 1px solid #bbb;
	text-align: left;
}
#insertContentText {
	height: 160px;
	width: 500px;
	margin: 10px 30px;
}
#insertSubmit,
#modifySubmit,
#deleteSubmit {
    font-size: 15px;
    border:none;
    background: none;
}
#insertSubmit:hover,
#modifySubmit:hover,
#deleteSubmit:hover {
	color: #fff;
	background-color: #FDD272;
    border-color: #FDD272;
}