
/*------ login css -----*/
body, main{
	background: #fafafa;
	position: relative; 
	height: 1300px; 
	z-index: -100;}

.container{
  height: 950px;
}
.login-form h1 {
  font-size: 36px;
  text-align: center;
  color: #2AC1BC;
  margin-bottom: 30px;
  font-weight: normal;
}
.login-form h3 {
  font-size: 25px;
  text-align: center;
  color: #2AC1BC;
  margin-bottom: 30px;
  font-weight: normal;
}
.login-form .social-icon {
    width: 100%;
    font-size: 20px;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    float: left;
}
.login-form {
    background: #fff;
    width: 450px;
    border-radius: 6px;
    margin: 0 auto;
    display: table;
    padding: 35px;
    box-sizing: border-box;
    position: relative;
    top: 200px;
}
.form-group {
  float: left;
  width: 100%;
  margin: 0 0 15px;
  position: relative;
}
.login-form input {
    width: 100%;
    padding: 5px;
    height: 56px;
    border-radius: 74px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    padding-left: 75px;
}
.login-form .form-group .input-icon {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    height: 100%;
    padding-left: 35px;
    color: #666;
}
.login-form .login-btn {
  background: #2AC1BC;
  padding: 11px 50px;
  border-color: #2AC1BC;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  border: 1px solid #2AC1BC;
  border-radius: 44px;
  width: 100%;
  height: 56px;
  cursor: pointer;
  transition: 0.6s;
}
.login-form .reset-id,
.login-form .reset-psw,
.login-form .sign-up {
  float: left;
  width: 100%;
  text-decoration: none;
  color: #2AC1BC;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}

.reset-group{
    margin-top: 10px;
    display:flex;

}
input:focus {
  outline:none;
}

.login-form .social-icon button {
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 60%;
    margin: 0px 10px;
    border: none;
    cursor: pointer;
}

.social-icon .naver {
  background-size : cover;
  background-image: url(../images/naver.png);
}
.social-icon .kakao {
  background-size: cover;
  background-image: url(../images/kakao.png);
}

.login-form button:hover{
  opacity: 0.8;
}
.login-form .seperator {
  float: left;
  width: 100%;
  border-top: 1px solid #ccc;
  text-align: center;
  margin: 50px 0 0;
}
.login-form .seperator b {
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1;
}
.login-form p {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 0 0 10px;
}
@media screen and (max-width:767px) {
.login-form {
    width: 90%;
    padding: 15px 15px 30px;
}
}

