/* font nexon lv1 gothic */
@font-face {font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;font-style: normal;}
body{font-family: 'NEXON Lv1 Gothic OTF';}

/* left toggle */
.leftmenuToggle {display: block; position: relative; margin: 20px 30px 0 0;z-index: 100;-webkit-user-select: none;user-select: none;}
.leftmenuToggle input{display: block; width: 33px; height: 30px; position: absolute; cursor: pointer; opacity: 0; z-index: 2; -webkit-touch-callout: none;}
.leftmenuToggle span {display: block; width: 33px; height: 4px; margin-bottom: 7px; position: relative; background: #2AC1BC; border-radius: 3px;
    z-index: 1; transform-origin: 4px 0px; transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;}
.leftmenuToggle span:first-child {transform-origin: 0% 0%;}
.leftmenuToggle span:nth-last-child(2) {transform-origin: 0% 100%;}
.leftmenuToggle input:checked ~ span {opacity: 1;transform: rotate(45deg) translate(-2px, -1px);background: #385663;margin-bottom: 5px;}
.leftmenuToggle input:checked ~ span:nth-last-child(2) {transform: rotate(-45deg) translate(0, -1px);}
.leftmenuToggle input:checked ~ span:nth-last-child(3) {opacity: 0;transform: rotate(0deg) scale(0.2, 0.2);margin-bottom: 5px;}

/* toggle menu */
.hoverEvent {display: inline-block; margin-top: 0; position: fixed; left: 0; top: 110px; width: 360px; height: 100%;z-index: 1;
    padding-top: 150px; border-radius: 0 20px; text-align:center; background: #385663; -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%; transform: translate(-300%, 0); transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); text-decoration: none;}
  .hoverEvent li {padding: 20px 20px;font-size: 20px;}
  .hoverEvent ul {padding: 20px 20px;font-size: 20px;}
  .hoverEvent a {text-decoration: none;color: #fff;}
  .hoverEvent a:hover {color: #2AC1BC; font-weight: bold;}
  .leftmenuToggle input:checked ~ ul {transform: none;}
  .header-nav{display: flex; align-items: center;}

/* ul sort */
ul{list-style:none;margin:0;padding:0}

/* header */
.header-area .main-header{padding:0px 120px}
@media only screen and (min-width: 1200px) and (max-width: 1600px){.header-area .main-header{padding:0px 10px}}
@media only screen and (min-width: 992px) and (max-width: 1199px){.header-area .main-header{padding:0px 10px}}
@media only screen and (min-width: 768px) and (max-width: 991px){.header-area .main-header{padding:22px 0px}}
@media only screen and (min-width: 576px) and (max-width: 767px){.header-area .main-header{padding:22px 0px}}
@media (max-width: 575px){.header-area .main-header{padding:22px 0px}}
.header-area .main-header .menu-wrapper{display:flex;align-content:center;justify-content:space-between;flex-wrap:wrap;align-items:center;height: 110px;}
.header-area .main-header .menu-wrapper .main-menu ul li{display:inline-block;position:relative;}
.header-area .main-header .menu-wrapper .main-menu ul li a{font-size:18px;font-family: 'NEXON Lv1 Gothic OTF';color:#141517;font-weight:600;
    padding:41px 21px;display:inline-block;text-transform:capitalize;display:block;-webkit-transition:all .3s ease-out 0s;
    -moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;
    text-decoration: none;padding-bottom: 20px;z-index:1}
.header-area{display:block;position:fixed;background: #fff;top:0; left: 0;right: 0;border-bottom: #ecedef solid 1px;z-index: 100;}

/* menu hover color */
.header-area .main-header .menu-wrapper .main-menu ul li:hover>a{color:#2AC1BC;text-decoration: none;}

/* 좌측최상단 회원가입/로그인/고객센터 */
.links {position: absolute; top: 3px; right: 30px;}
.link_text {font-size: 11px; margin-left: 5px; text-decoration: none; color: #888;}
.navigation{display: flex;}

/* nav search */
.searchBtn {display: inline-block;font-family: 'NEXON Lv1 Gothic OTF';background: none;border: none;color: inherit;padding: 0;
    cursor: pointer;}
.searchBtn:hover{color: #2AC1BC;}
.wishBtn {display: inline-block;font-family: 'NEXON Lv1 Gothic OTF';background: none;border: none;color: inherit;padding: 0;
    cursor: pointer;margin-left: 30px;}
.wishBtn:hover{color: #2AC1BC;}
.cartBtn {display: inline-block;font-family: 'NEXON Lv1 Gothic OTF';background: none;border: none;color: inherit;padding: 0;
    cursor: pointer;margin-left: 20px;}
.cartBtn:hover{color: #2AC1BC;}
.searchForm {border:1px solid #999999; border-radius: 10px; font-size: 7px; width: 180px; height: 30px; padding-left: 10px;}
.search {margin-top: 15px;}

/* footer */
footer{bottom: 0; background-color: #385663; color: #fff; padding: 30px 0;}
footer .container-fluid{position: relative; display: block; text-align: center;}
footer .container-fluid img{display: block; margin: 0px auto; align-items: center;}
footer .container-fluid p{margin: 0; font-size: 11px;}


/*------ login css -----*/
body, main{
	background: #fafafa;
	position: relative; 
	height: 1000px; 
	z-index: -100;}

.container{
  height: 950px;
}
.login-form h1 {
  font-size: 36px;
  text-align: center;
  color: #2AC1BC;
  margin-bottom: 30px;
  font-weight: normal;
}
.login-form .social-icon {
    width: 100%;
    font-size: 20px;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    float: left;
}
.login-form {
    background: #fff;
    width: 450px;
    border-radius: 6px;
    margin: 0 auto;
    display: table;
    padding: 35px;
    box-sizing: border-box;
    position: relative;
    top: 200px;
}
.form-group {
  float: left;
  width: 100%;
  margin: 0 0 15px;
  position: relative;
}
.login-form input {
    width: 100%;
    padding: 5px;
    height: 56px;
    border-radius: 74px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 15px;
    padding-left: 75px;
}
.login-form .form-group .input-icon {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    height: 100%;
    padding-left: 35px;
    color: #666;
}
.login-form .login-btn {
  background: #2AC1BC;
  padding: 11px 50px;
  border-color: #2AC1BC;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  border: 1px solid #2AC1BC;
  border-radius: 44px;
  width: 100%;
  height: 56px;
  cursor: pointer;
}
.login-form .reset-id,
.login-form .reset-psw,
.login-form .sign-up {
  float: left;
  width: 100%;
  text-decoration: none;
  color: #2AC1BC;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}

.reset-group{
    margin-top: 10px;
    display:flex;

}
input:focus {
  outline:none;
}

.login-form .social-icon button {
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 60%;
    margin: 0px 10px;
    border: none;
    cursor: pointer;
}

.social-icon .naver {
  background-size : cover;
  background-image: url(../images/naver.png);
}
.social-icon .kakao {
  background-size: cover;
  background-image: url(../images/kakao.png);
}

.login-form button:hover{
  opacity: 0.9;
}
.login-form .seperator {
  float: left;
  width: 100%;
  border-top: 1px solid #ccc;
  text-align: center;
  margin: 50px 0 0;
}
.login-form .seperator b {
  width: 40px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -22px;
  z-index: 1;
}
.login-form p {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin: 0 0 10px;
}
@media screen and (max-width:767px) {
.login-form {
    width: 90%;
    padding: 15px 15px 30px;
}
}

