/* font nexon lv1 gothic */
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NEXON Lv1 Gothic OTF' !important;
}


.dropbtn {
	color: white;
	padding: 0px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* left toggle */
.leftmenuToggle {
  display: block;
  position: relative;
  margin: 20px 30px 0 0;
  z-index: 100;
  -webkit-user-select: none;
  user-select: none;
   color: white;

}

.leftmenuToggle input {
  display: block;
  width: 33px;
  height: 30px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
 
}

.leftmenuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 7px;
  position: relative;
  background: #2AC1BC;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

.leftmenuToggle span:first-child {
  transform-origin: 0% 0%;
}

.leftmenuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.leftmenuToggle input:checked~span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #385663;
  margin-bottom: 5px;
}

.leftmenuToggle input:checked~span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.leftmenuToggle input:checked~span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
  margin-bottom: 5px;
}

/* toggle menu */
.hoverEvent {
  display: inline-block;
  margin-top: 0;
  position: fixed;
  left: 0;
  top: 110px;
  width: 360px;
  height: 100%;
  z-index: 1;
  padding-top: 150px;
  border-radius: 0 20px;
  text-align: center;
  background: #385663;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-300%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  text-decoration: none;
}

.hoverEvent li {
  padding: 20px 20px;
  font-size: 20px;
}

.hoverEvent ul {
  padding: 20px 20px;
  font-size: 20px;
}

.hoverEvent a {
  text-decoration: none;
  color: #fff !important;
}

.hoverEvent a:hover {
  color: #2AC1BC;
  font-weight: bold;
}

.leftmenuToggle input:checked~ul {
  transform: none;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* ul sort */
ul {
  list-style: none;
  margin: 0;
  padding: 0
}


/* header */

.header-area .main-header {
  padding: 0px 120px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .header-area .main-header {
    padding: 0px 10px
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .main-header {
    padding: 0px 10px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .main-header {
    padding: 22px 0px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header-area .main-header {
    padding: 22px 0px
  }
}

@media (max-width: 575px) {
  .header-area .main-header {
    padding: 22px 0px
  }
}

.header-area .main-header .menu-wrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 110px;
}

.header-area .main-header .menu-wrapper .main-menu ul li {
  display: inline-block;
  position: relative;
  z-index: 1
}

.header-area .main-header .menu-wrapper .main-menu ul li a {
  font-size: 18px;
  font-family: 'NEXON Lv1 Gothic OTF';
  color: #141517;
  font-weight: 600;
  padding: 41px 21px;
  display: inline-block;
  text-transform: capitalize;
  display: block;
  -webkit-transition: all .3s ease-out 0s;
  -moz-transition: all .3s ease-out 0s;
  -ms-transition: all .3s ease-out 0s;
  -o-transition: all .3s ease-out 0s;
  transition: all .3s ease-out 0s;
  text-decoration: none;
  padding-bottom: 20px;
}

.header-area {
  display: block;
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: #ecedef solid 1px;
  z-index: 100;
}

/* menu hover color */
.header-area .main-header .menu-wrapper .main-menu ul li:hover>a {
  color: #2AC1BC;
  text-decoration: none;
}

/* 좌측최상단 회원가입/로그인/고객센터 */
.links {
  position: absolute;
  top: 5px;
  right: 30px;
}

.link_text {
  font-size: 11px;
  margin-left: 5px;
  text-decoration: none;
  color: #888;
}

.navigation {
  display: flex;
}

/* nav search */
.searchBtn {
  display: inline-block;
  font-family: 'NEXON Lv1 Gothic OTF';
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.searchBtn:hover {
  color: #2AC1BC;
}

.wishBtn {
  display: inline-block;
  font-family: 'NEXON Lv1 Gothic OTF';
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  margin-left: 30px;
}

.wishBtn:hover {
  color: #2AC1BC;
}

.cartBtn {
  display: inline-block;
  font-family: 'NEXON Lv1 Gothic OTF';
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  margin-left: 30px;

}

.nopaddingcard {
  padding: 0;
}
.cartBtn:hover {
  color: #2AC1BC;
}

.searchForm {
  border: 1px solid #999999;
  border-radius: 10px;
  font-size: 7px;
  width: 180px;
  height: 30px;
  padding-left: 10px;
}

.search {
  padding-top: 20px;
  font-size:initial;
}

/* footer */
footer {
  bottom: 0;
  background-color: #385663;
  color: #fff;
  padding:0 40px;
  clear : both;
}

footer .container-fluid {
  position: relative;
  display: block;
  text-align: center;
  padding: 20px 0;
}

footer .container-fluid img {
  display: block;
  margin: 0px auto;
  align-items: center;
}

footer .container-fluid p {
  margin: 0;
  font-size: 11px;
}

/* main 여백 // footer 때문에 main 부분 짤릴때 넣기 */
/* body, main{position: relative; height: 1000px; z-index: -100;} */
/*=====================================================================================*/
/* sidebar base */
:root {
  --white: #fff;
  --black: #000;
  --textColor: #333;
  --hove: #2AC1BC;
}

* {
  box-sizing: inherit;

}

a {
  text-decoration: none;
  color: black;
}


/* side bar */
.container-side {
  padding: 30px 0px;
  z-index: -1;
}

.category {
  background: #fff;
  border-radius: 3px;
  position: fixed;
  top: 160px;
  left: 0;
  width: 230px;
  margin-left: 100px;
  z-index: -1;
}

.ctghead {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}

.ctghead h3 {
  display: inline-flex;
  font-weight: bold;
  margin-left: 30px;
  font-size: 25px;
}

.ctghead h3 i {
  font-size: 2.9rem;
  margin-right: 7px;
}

.ctgul {
  margin-top: 16px;
  padding: 0 0 16px 0;
  font-size: 14px;
}

.ctgulChild {
  margin: 0 0 0 30px;
  padding: 0 0 10px 0;
  
}

.ctgliChild {
  display: block;
  position: relative;
  list-style: none;
  transition: .3s linear;
  font-size: 13px;
  height: 30px;
  /* box-shadow: transparent 0px 14px 13px -12px, transparent 0px 26px 32px -22px; */
}

.ctgli:hover {
  border-left: 4px solid var(--hove);
  background: #d2ffe221;
  /* box-shadow: rgba(50, 50, 93, 0.08) 0px 14px 13px -12px, rgba(0, 0, 0, 0.16) 0px 26px 32px -22px; */
}

.ctga, .ctgaChild {
  width: 100%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  line-height: 2.3rem;
  color: #333;
  text-decoration: none;
  padding: 3px 40px 3px 30px;
  position: relative;
  right: 0;
  transition: right linear .3s;
  font-weight: 600;
}

.ctga i {
  margin-right: 10px;
}

.ctghead a:hover, .ctga:hover, .ctgaChild:hover {
  /* right:-4px; */
  color: var(--hove);
}

.ctgaChild::before {
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  position: absolute;
  border-style: solid;
  border-color: transparent transparent transparent var(--hove);
  border-width: 4px;
  content: "";
}

.ctgulChild {
  display: none;
  padding: 0x 13px 0px 36px;
}

.ctgli {
  display: block;
  position: relative;
  list-style: none;
  border-left: 4px solid transparent;
  transition: .3s linear;
}

.showed {
  background: #d2ffe221;
  border-left: 4px solid var(--hove) !important;
}

.showed .ctga {
  color: var(--hove);
  font-weight: bold;
}

.showed .ctga i {
  font-weight: bold;
}

.down {
  position: absolute;
  font-size: 1.3rem;
  right: 10%;
  top: 50%;
  transform: translateY(-50%) rotate(360deg);
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.wtok .down {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg)
}
