body, main{
	position: relative; 
	z-index: -100;
	background-color: #fff;
}


.donation-main{
  margin-top: 100px;
  margin-left: 500px;
  margin-bottom: 100px;
}
.content{
	width: 1045px;
	display: flex;
}

.table {
	width: 1045px;
}
.table-box {
  width: 1005px;
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #bbb;
}
.donation-table{
	width: 1000px;
}
.donation-table thead{
	border-bottom: 1px solid #bbb;
}
.donation-table tbody{
	border: none;
}
.info{
	color: #bbb;
}
.my-box {
  width: 1045px;
  height: 160px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  border: 1px solid #bbb;
}
.my-box h1{
  color: #385663;
}

.donation-box {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 338px;
  height: 200px;
  border: 1px solid #bbb;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 50px;
  border-radius: 5px;
}
.donation-info{
  display: flex;
  justify-content: center;
  align-items: center;
}
.content a{
	margin-left: 895px;
}
.donationBtn {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
}
.donationBtn:hover {
	background-color:#eb675e;
}
.donationBtn:active {
	position:relative;
	top:1px;
}