
}
/*======== css style base =========*/
.main {
  clear:both;
   padding:9rem 0 10rem 0;
  }
  
body {
  background: #fafafa;
    line-height: 1rem;
}

h1 {
font-size: 4rem;
line-height: 4rem;
text-transform: uppercase;
}

h2 {
font-size: 2.5rem;
line-height: 2.5rem;
text-transform: uppercase;
margin-bottom: 1rem;
color: #444;
}

h3 {
font-size: 1.8rem;
line-height: 1.8rem;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}

h4 {
font-size: 1.4rem;
line-height: 1.4rem;
margin-bottom: 5px;
}

h5 {
font-size: 1rem;
line-height: 1rem;
margin-bottom: 7px;
}

.main {
  clear:both;
   padding:9rem 0 10rem 0;
  }

.main h3 {
  color:#222;
  text-align:center;
}

.result {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.result .blue {
  color: #2AC1BC;
}

.tab1, .tab2, .tab3, .tab4 {
  padding: 10px 10px;
  text-align: center;
}

.taball {
  display:flex;
  width: 400px;
  text-align: center;
  color: #666;
  font-weight: 500;
  line-height: 1.35rem;
  align-items: center;
  margin :0 auto;
  padding: 2rem 0 0 0;
  justify-content: space-between;
  border-bottom: 2px solid #2AC1BC;
}

.taball img {
  width: 35px;
  filter: grayscale(100);
  opacity: 0.4;
  margin-bottom: 0.5rem;
}

.tab3{
  background: #2AC1BC;
  color: white;
  font-weight: 500;
}

.tab3 img {
  filter: invert(100);
  opacity: 1;
}

.one {
  width: 500px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  align-items: center;
}

/* form tag style */
.info {
  color: #777;
  font-size:0.7rem;
  text-align:center;
  margin: 0 0 20px 0px;
  }

#content3 {
  text-align: left;
}

#content3 input[type="text"] {
  width: 83%;
  padding: 10px;
  margin-bottom: 1rem;
}
#content3 input[type="radio"] {
  width: 20%;
  padding: 10px;
  margin-bottom: 1rem;
}

#content3 .address1{
  width: 41.5%;
  padding: 10px;
  margin-bottom: 1rem;
}

#content3 select {
  width: 100px;
  height: 39px;
}

#content3 input[type="email"] {
  width: 24%;
}

#content3>:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

#content3>:nth-child(2)>:nth-child(1) {
  width: 30%;
}

#content3>.join2>:nth-child(2)>:nth-child(1)>:nth-child(2) {
  margin-top: 6.5rem;
}


#content3 .address-btn{
  width: 40%;
  background: #666;
  border: 1px solid #666;
  color: white;
  padding: 10px;
  margin-left: 0;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
}


#content3>:nth-child(2)>:nth-child(2)>:nth-child(7),
#content3>:nth-child(2)>:nth-child(2)>:nth-child(9),
#content3>:nth-child(2)>:nth-child(2)>:nth-child(11),
#content3>:nth-child(2)>:nth-child(2)>:nth-child(13) {
  margin-bottom: 1rem;
}



.find1 {

  margin: 0 auto;
  text-align: center;
}

.find1>div {
  margin-top: 1rem;
  padding: 1.5rem 1rem 2.5rem 1rem;
}

.find1>:nth-child(2) {
  line-height: 1.4rem;
  padding: 1rem 0;
}


.find1 input[type="email"],
.find1 input[type="tel"] {
  width: 105px;
  padding: 10px;
}

select,
option {
  border: 1px solid #999;
  width: 30%;
  height: 48px;
  padding: 7px;
}

* {
  box-sizing: border-box;
  border: 0px solid rosybrown;
}


input {
  border: 1px solid #999;
  margin-bottom: 0.2rem;
}

.doublecheck {
  margin-top: 1rem;
  background: #444;
  padding: 15px;
  color: white;
  transition: 0.6s;
}

.choice{
  width: 85%;
  padding: 10px;
  /* margin-bottom: 1rem; */
  /* line-height: 1.7; */
}

.pb0{
  padding-bottom: 0 !important;
  margin: 0 0 10px 0px;
  text-align: center;
}

section .next-btn{
	width:170px;
padding: 1rem 1rem;
font-size:0.9rem;
transition: 0.5s;
margin-top:40px;
border: none;
border-radius: 10px;
background-color: #2AC1BC;
display: inline-block;
color: white;
}

section .next-btn:hover {
  text-decoration: none;
  opacity: 0.8;
  color: white;
  cursor: pointer;
}

#content3 {
  text-align: left;
}


#content3 p{
  font-size:13px;
  margin: 0 0 23px 0;
  padding: 9px;
}

#content3 .none{
	margin: 0 0 80px 0;
}


#content3 input,
#content3 label {
  width: 85%;
  padding: 10px;
  margin-bottom: 1rem;
}

#content3 select {
  width: 100px;
  height: 39px;
}