/* ORDER CONFIRMATION CSS */
body, main{position: relative; height: 1250px; z-index: -100;}

.invoice {
    width: 1090px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .header {
    width: 100%;
  }
  
  .header img {
    width: 100%;
  }
  
  .thanks {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  .thanks p {
    font-size: 25px;
    font-weight: bold;
    color: #393939;
    margin-bottom: 4px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .thanks2 p {
    font-size: 25px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 4px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: left;
  }
  
  .deliver {
    display: inline-block;
    width: 310px;
    height: 150px;
    float: left;
    line-height: 150%;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .deliver table {
    width : 320px;
    font-size: 16px;
    font-weight: bold;
    margin-top : 20px;
    margin-bottom: 0px;
    color: #393939;
  }
  
  .client {
    display: inline-block;
    margin-left: 30px;
    margin-right: 10px;
    width: 325px;
    height: 150px;
    float: left;
    line-height: 150%;
    padding-left: 15px;
    border-left: 1px dashed;
  }
  
  .client table {
    width : 200px;
    font-size: 16px;
    font-weight: bold;
    margin-top : 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    color: #393939;
    text-align: center;
  }
  
  .orderinfo {
    float: left;
    margin-left: 40px;
    width: 300px;
    line-height: 150%;
    padding-left: 15px;
    border-left: 1px dashed;
    height: 150px;
    
  }
  
  .orderinfo table {
    width : 200px;
    font-size: 16px;
    font-weight: bold;
    margin-top : 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    color: #393939;
  }
  
  .spacing  {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    display: inline-block;
    border-top: 1px solid #393939;
    z-index: -1;
    border-bottom: 1px solid #393939;
  }

  .spacing3 hr{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    z-index: -1;
    border-bottom: 2px solid #393939;
  }

  .spacing2 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ffffff;
    z-index: -1;
  }
  
  .point {
    width: 1070px;
    margin-top: 10px;
    display: inline-block;
    line-height: 20px;
    border: 1px solid;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 7px;
    border-radius: 5px;
    text-align: center;
  }
  
  .point p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #393939;
    text-align: center;
  }
  
  .productinfo {
    display: inline-block;
    margin-top: 20px;
    float: left;
    width: 98.3%;
    background: #FDD272 ;
    padding: 10px;
    margin-right: 30px;
    border-radius: 10px;
  }
  
  .productinfo p {
    margin-top: 0px;
    color: #393939;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .productinfo table {
    width: 100%;
  }
  
  .productinfo th.name {
    width: 35%;
    background: #ffffff;
    border-radius: 5px;
    line-height: 150%;
    color: #393939;
  }
  
  .productinfo th.detail {
    width: 50%;
    background: #ffffff;
    border-radius: 5px;
    line-height: 150%;
    color: #393939;
  }
  
  .productinfo td.name {
    background: #ffffff;
    border-radius: 5px;
    line-height: 150%;
    color: #000000;
    padding: 3px;
  }
  
  .productinfo td.detail {
    background: #ffffff;
    border-radius: 5px;
    line-height: 150%;
    color: #000000;
    padding: 3px;
  }
  
  .productinfo th.qty {
    width: 5%;
    background: #ffffff;
    border-radius: 5px;
    line-height: 200%;
    color: #393939;
  }
  
  .productinfo th.cost {
    width: 10%;
    background: #ffffff;
    border-radius: 5px;
    line-height: 150%;
    color: #393939;
  }
  
  .productinfo td.qty {
    background: #ffffff;
    border-radius: 5px;
    line-height: 150%;
    color: #000000;
    padding-left: 3px;
    text-align: center;
  }
  
  .productinfo td.cost {
    background: #ffffff;
    border-radius: 5px;
    line-height: 150%;
    color: #000000;
    padding-left: 3px;
    text-align: center;
  }
  
  .ordernotes{
    display: inline-block;
    float: left;
    width: 700px;
    height: 150px;
    padding-right: 10px;
    border-right: 1px dashed;
  }
  
  .ordernotes p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #393939;
    text-transform: uppercase;
  }
  
  .payment {
    float: right;
    margin-top: 10px;
    margin-bottom: 0px;
    display: inline-block;
    width: 230px;
    line-height: 140%;
    font-size: 17px;
    height: 50px;
    color: #393939;
    }
  
  .payment strong {
    color: #393939;
  }
  
  .note{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .note p {
    font-weight: bold;
    color: #393939;
    margin-top: -10px;
    margin-bottom: 5px;
    font-size: 12pt;
  }
 
  .donationBtn {
	box-shadow:inset 0px 39px 0px -24px #e67a73;
	background-color:#e4685d;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
.donationBtn:hover {
	background-color:#eb675e;
}
.donationBtn:active {
	position:relative;
	top:1px;
}

.deliver{
    text-align: center;
}
  
.client{
    text-align: center;
}

.orderinfo{
    text-align: center;
}

.productinfo{
    text-align: center;
}

.homeBtn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  	float: right;
}

.homeBtn:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.homeBtn:active {
	position:relative;
	top:1px;
}


@media only screen and (min-width: 992px) and (max-width: 1200px){.section_padding{padding:0px 0px}}
@media only screen and (min-width: 768px) and (max-width: 991px){.section_padding{padding:0px 0px}}


/* font nexon lv1 gothic */
@font-face {font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;font-style: normal;}
body{font-family: 'NEXON Lv1 Gothic OTF';}

/* left toggle */
.leftmenuToggle {display: block;position: relative;margin: 20px 30px 0 0;z-index: 100;-webkit-user-select: none;user-select: none;}
.leftmenuToggle input{display: block; width: 30px; height: 20px; position: absolute; cursor: pointer; opacity: 0; z-index: 2; -webkit-touch-callout: none;}
.leftmenuToggle span {display: block; width: 33px; height: 4px; margin-bottom: 7px; position: relative; background: #2AC1BC; border-radius: 3px;
  z-index: 1; transform-origin: 4px 0px; transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;}
.leftmenuToggle span:first-child {transform-origin: 0% 0%;}
.leftmenuToggle span:nth-last-child(2) {transform-origin: 0% 100%;}
.leftmenuToggle input:checked ~ span {opacity: 1;transform: rotate(45deg) translate(-2px, -1px);background: #385663;margin-bottom: 5px;}
.leftmenuToggle input:checked ~ span:nth-last-child(2) {transform: rotate(-45deg) translate(0, -1px);}
.leftmenuToggle input:checked ~ span:nth-last-child(3) {opacity: 0;transform: rotate(0deg) scale(0.2, 0.2);margin-bottom: 5px;}

/* toggle menu */
.hoverEvent {display: inline-block; margin-top: 0; position: fixed; left: 0; top: 110px; width: 360px; height: 100%;z-index: 100;
  padding-top: 150px; border-radius: 0 20px; text-align:center; background: #385663; -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%; transform: translate(-300%, 0); transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); text-decoration: none;}
.hoverEvent li {padding: 20px 20px;font-size: 20px;}
.hoverEvent ul {padding: 20px 20px;font-size: 20px;}
.hoverEvent a {text-decoration: none;color: #fff;}
.hoverEvent a:hover {color: #2AC1BC; font-weight: bold;}
.leftmenuToggle input:checked ~ ul {transform: none;}
.header-nav{display: flex; align-items: center;}

/* ul sort */
ul{list-style:none;margin:0;padding:0}

/* header */
.header-area .main-header{padding:0px 120px}
@media only screen and (min-width: 1200px) and (max-width: 1600px){.header-area .main-header{padding:0px 10px}}
@media only screen and (min-width: 992px) and (max-width: 1199px){.header-area .main-header{padding:0px 10px}}
@media only screen and (min-width: 768px) and (max-width: 991px){.header-area .main-header{padding:22px 0px}}
@media only screen and (min-width: 576px) and (max-width: 767px){.header-area .main-header{padding:22px 0px}}
@media (max-width: 575px){.header-area .main-header{padding:22px 0px}}
.header-area .main-header .menu-wrapper{display:flex;align-content:center;justify-content:space-between;flex-wrap:wrap;align-items:center;height: 110px;}
.header-area .main-header .menu-wrapper .main-menu ul li{display:inline-block;position:relative;z-index:1}
.header-area .main-header .menu-wrapper .main-menu ul li a{font-size:18px;font-family: 'NEXON Lv1 Gothic OTF';color:#141517;font-weight:600;
  padding:41px 21px;display:inline-block;text-transform:capitalize;display:block;-webkit-transition:all .3s ease-out 0s;
  -moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;
  text-decoration: none;padding-bottom: 20px;}
.header-area{display:block;position:fixed;background: #fff;top:0; left: 0;right: 0;border-bottom: #ecedef solid 1px;}

/* menu hover color */
.header-area .main-header .menu-wrapper .main-menu ul li:hover>a{color:#2AC1BC;text-decoration: none;}

/* 좌측최상단 회원가입/로그인/고객센터 */
.links {position: absolute; top: 3px; right: 30px;}
.link_text {font-size: 11px; margin-left: 5px; text-decoration: none; color: #888;}
.navigation{display: flex;}

/* nav search */
.searchBtn {display: inline-block;font-family: 'NEXON Lv1 Gothic OTF';background: none;border: none;color: inherit;padding: 0;
  cursor: pointer;}
.searchBtn:hover{color: #2AC1BC;}
.wishBtn {display: inline-block;font-family: 'NEXON Lv1 Gothic OTF';background: none;border: none;color: inherit;padding: 0;
  cursor: pointer;margin-left: 30px;}
.wishBtn:hover{color: #2AC1BC;}
.cartBtn {display: inline-block;font-family: 'NEXON Lv1 Gothic OTF';background: none;border: none;color: inherit;padding: 0;
  cursor: pointer;margin-left: 20px;}
.cartBtn:hover{color: #2AC1BC;}
.searchForm {border:1px solid #999999; border-radius: 10px; font-size: 7px; width: 180px; height: 30px; padding-left: 10px;}
.search {margin-top: 15px;}


