body, main{
	position: relative; 
	z-index: -100;
	background-color: #fff;
}

.disabledInput {
    color: gray;
}

#content3 div {
	text-align: center;
}

#content3 #password {
    width: 77%;
    padding: 10px;
    margin-bottom: 0.5rem;
    font-size: 13px;
    border-radius: 3px;
    text-align: center;
}

.txt_readonly{
    border: none;
    color: #555;
    font-weight: 500;
    pointer-events: none;
}
.validation-check {
    font-size: 12rem;
    color:#ff7777;
    margin-top: 7px;
    padding: 0 5px 0;
}

.join-btn{
	height: 30px;
	width: 100px;
	background-color: #2AC1BC;
	color: #fff;
	border-radius: 5px;
	margin-left: 180px;
	margin-top: 30px;
}

