.disabledInput {
    color: gray;
}
#content3 input[type="email"] {
    position: absolute;
    top:50; left: 50%;
    width: 23%;
}
.txt_readonly{
    border: none;
    color: #555;
    font-weight: 500;
    pointer-events: none;
}
.validation-check {
    font-size: 12rem;
    color:#ff7777;
    margin-top: 7px;
    padding: 0 5px 0;
}