@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
  font-weight: normal;  font-style: normal;}
body{font-family: 'NEXON Lv1 Gothic OTF';}

/* left toggle */
.leftmenuToggle {display: block;position: relative;margin: 20px 30px 0 0;z-index: 1;-webkit-user-select: none;user-select: none;}
.leftmenuToggle input{display: block; width: 33px; height: 30px; position: absolute; cursor: pointer; opacity: 0; z-index: 2; -webkit-touch-callout: none;}
.leftmenuToggle span {display: block; width: 33px; height: 4px; margin-bottom: 7px; position: relative; background: #2AC1BC; border-radius: 3px;
  z-index: 1; transform-origin: 4px 0px; transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), 
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;}
.leftmenuToggle span:first-child {transform-origin: 0% 0%;}
.leftmenuToggle span:nth-last-child(2) {transform-origin: 0% 100%;}
.leftmenuToggle input:checked ~ span {opacity: 1;transform: rotate(45deg) translate(-2px, -1px);background: #385663;margin-bottom: 5px;}
.leftmenuToggle input:checked ~ span:nth-last-child(2) {transform: rotate(-45deg) translate(0, -1px);}
.leftmenuToggle input:checked ~ span:nth-last-child(3) {opacity: 0;transform: rotate(0deg) scale(0.2, 0.2);margin-bottom: 5px;}

/* toggle menu */
.hoverEvent {display: inline-block; margin-top: 0; position: fixed; left: 0; top: 110px; width: 360px; height: 100%;z-index: 1;
  padding-top: 150px; border-radius: 0 20px; text-align:center; background: #385663; -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%; transform: translate(-300%, 0); transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); text-decoration: none;}
.hoverEvent li {padding: 20px 20px;font-size: 20px;}
.hoverEvent ul {padding: 20px 20px;font-size: 20px;}
.hoverEvent a {text-decoration: none;color: #fff;}
.hoverEvent a:hover {color: #2AC1BC; font-weight: bold;}
.leftmenuToggle input:checked ~ ul {transform: none;}
.header-nav{display: flex; align-items: center;}

/* ul sort */
ul{list-style:none;margin:0;padding:0}

/* header */
.header-area .main-header{padding:0px 120px}
@media only screen and (min-width: 1200px) and (max-width: 1600px){.header-area .main-header{padding:0px 10px}}
@media only screen and (min-width: 992px) and (max-width: 1199px){.header-area .main-header{padding:0px 10px}}
@media only screen and (min-width: 768px) and (max-width: 991px){.header-area .main-header{padding:22px 0px}}
@media only screen and (min-width: 576px) and (max-width: 767px){.header-area .main-header{padding:22px 0px}}
@media (max-width: 575px){.header-area .main-header{padding:22px 0px}}
.header-area .main-header .menu-wrapper{display:flex;align-content:center;justify-content:space-between;flex-wrap:wrap;align-items:center;height: 110px;}
.header-area .main-header .menu-wrapper .main-menu ul li{display:inline-block;position:relative;z-index:1}
.header-area .main-header .menu-wrapper .main-menu ul li a{font-size:18px;font-family: 'NEXON Lv1 Gothic OTF';color:#141517;font-weight:600;
  padding:41px 21px;display:inline-block;text-transform:capitalize;display:block;-webkit-transition:all .3s ease-out 0s;
  -moz-transition:all .3s ease-out 0s;-ms-transition:all .3s ease-out 0s;-o-transition:all .3s ease-out 0s;transition:all .3s ease-out 0s;
  text-decoration: none;padding-bottom: 20px;}
.header-area{display:block;position:fixed;background: #fff;top:0; left: 0;right: 0;border-bottom: #ecedef solid 1px;z-index: 100;}

/* menu hover color */
.header-area .main-header .menu-wrapper .main-menu ul li:hover>a{color:#2AC1BC;text-decoration: none;}

/* 좌측최상단 회원가입/로그인/고객센터 */
.links {position: absolute; top: 3px; right: 30px;}
.link_text {font-size: 11px; margin-left: 5px; text-decoration: none; color: #888;}
.navigation{display: flex;}

/* nav search */
.searchBtn {display: inline-block;font-family: 'NEXON Lv1 Gothic OTF';background: none;border: none;color: inherit;padding: 0;
  cursor: pointer;}
.searchBtn:hover{color: #2AC1BC;}
.wishBtn {display: inline-block;font-family: 'NEXON Lv1 Gothic OTF';background: none;border: none;color: inherit;padding: 0;
  cursor: pointer;margin-left: 30px;}
.wishBtn:hover{color: #2AC1BC;}
.cartBtn {display: inline-block;font-family: 'NEXON Lv1 Gothic OTF';background: none;border: none;color: inherit;padding: 0;
  cursor: pointer;margin-left: 20px;}
.cartBtn:hover{color: #2AC1BC;}
.searchForm {border:1px solid #999999; border-radius: 10px; font-size: 7px; width: 180px; height: 30px; padding-left: 10px;}
.search {margin-top: 15px;}

/* footer */
footer{bottom: 0; background-color: #385663; color: #fff; padding: 30px 0;}
footer .container-fluid{position: relative; display: block; text-align: center;}
footer .container-fluid img{display: block; margin: 0px auto; align-items: center;}
footer .container-fluid p{margin: 0; font-size: 11px;}


/*======== css style base =========*/
main {
   position: relative;
   padding:200px 0 10rem 0;
   background: #fafafa;
}


h1 {
font-size: 4rem;
line-height: 4rem;
text-transform: uppercase;
}

h2 {
font-size: 2.5rem;
line-height: 2.5rem;
text-transform: uppercase;
margin-bottom: 1rem;
color: #444;
}

h3 {
font-size: 1.8rem;
line-height: 1.8rem;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;
}

h4 {
font-size: 1.4rem;
line-height: 1.4rem;
margin-bottom: 5px;
}

h5 {
font-size: 1rem;
line-height: 1rem;
margin-bottom: 7px;
}

.main h3 {
  color:#222;
  text-align:center;
}

.result {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 50px;
}

.result2 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }

.blue {
  color: #2AC1BC;
}

.tab1, .tab2, .tab3, .tab4 {
  padding: 10px 10px;
  text-align: center;
}

.taball {
  display:flex;
  width: 400px;
  text-align: center;
  color: #666;
  font-weight: 500;
  line-height: 1.35rem;
  align-items: center;
  margin :0 auto;
  padding: 2rem 0 0 0;
  justify-content: space-between;
  border-bottom: 2px solid #2AC1BC;
}

.taball img {
  width: 35px;
  filter: grayscale(100);
  opacity: 0.4;
  margin-bottom: 0.5rem;
}

.tab4{
  background: #2AC1BC;
  color: white;
  font-weight: 500;
}

.tab4 img {
  filter: invert(100);
  opacity: 1;
}

.one {
  width: 500px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  align-items: center;
}

.info {
    color: #777;
    font-size: 0.8rem;
    text-align:center;
    margin: 20px 0 30px 0;
    }
  

#content4 {
    padding: 4rem;
    padding-bottom: 0.5rem;
  }

#content4 img {
    width: 150px;
    margin-bottom: 50px;
    opacity: 1;
}

#content4 h4 {
    font-size: 1.8rem;
}

#content4 p {
    padding: 1rem 0;
    line-height: 1.4rem;
}

section .shop-btn {
    width:170px;
    padding: 1rem 1rem;
    font-size:0.9rem;
    background: #2AC1BC;
    color: #fff;
    transition: 0.5s;
    margin-top:1.5rem;
    border: none;
    border-radius: 10px;
}

section .login-btn {
    width:170px;
    padding: 1rem 1rem;
    font-size:0.9rem;
    background: #2AC1BC;
    color: #fff;
    transition: 0.5s;
    margin-top:1.5rem;
    border: none;
    border-radius: 10px;
}
  
section .shop-btn:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
    color: white;
}

section .login-btn:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
    color: white;
}

section button {
	margin-bottom:70px;	
}